
@{
    ViewData["Title"] = "Missoin Listing";
}
@Html.Partial("Secondnav")
<div class=" container-fluid justify-content-between d-flex pt-3">
    <div class="">
        <h3>Explore 72 Mission</h3>

    </div>
    <div class="row">
        <div class="dropdown col">
            <button class="btn dropdown-toggle btn-outline-light border-dark" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                Sortby..

                <!-- &nbsp; -->
                <img src="~/images/drop-down.png" class="ic-down ms-5">
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
        <button class="btn btn-outline-light col" onclick="opengrid()">
            <img src="~/images/grid.png">
        </button>
        <button class="btn btn-outline-light col " onclick="openlist()">
            <img src="~/images/list.png">
        </button>

    </div>
</div>


<div class="container-fluid mt-4 gridview" id="gridview">
    <div class="row">
        @*@Html.Partial("Gridcard")
        @Html.Partial("Gridcard")
        @Html.Partial("Gridcard")
        @Html.Partial("Gridcard")
        @Html.Partial("Gridcard")*@

        <div class="col-lg-4 col-sm-12 col-xs-12 mb-3">
            <div class="card">
                <div class="grid-img">
                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png"
                         class="card-img-top" alt="...">
                    <div class="d-flex justify-content-center">
                        <p class="card-title">Nutrition</p>
                    </div>
                    <div>

                        <div class="location over-buttons px-3 py-1 ">
                            <img src="/images/pin.png" />
                            <span>Toronto</span>
                        </div>
                        <div class="add-favourite over-buttons px-3 py-1">
                            <img src="/images/heart.png" />
                        </div>
                        <div class="add-user over-buttons  px-3 py-1">
                            <img src="/images/user.png" />
                        </div>

                    </div>
                </div>
                <div class="card-body">


                    <div class="m-2">
                        <h4 class="card-text">
                            Some quick example text to build on the card title and make up the
                            bulk of the card's
                            content.
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis corrupti nesciunt
                            mollitia voluptate minus
                            harum, sequi fugiat quis excepturi ipsum animi quod reiciendis voluptatibus aperiam
                            alias unde, esse possimus
                            asperiores?
                        </p>
                        <div class="d-flex justify-content-between">
                            <p class="review-stat">Tree Canada</p>
                            <div class="small-ratings">
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>

                    <div class="border-top border-bottom">
                        <div class="d-flex justify-content-center">

                            <p class="DateTime-title">From date to until date</p>
                        </div>

                        <div class="d-flex flex-wrap justify-content-around">
                            <div class=" d-flex justify-content-around">
                                <img class="w-50 h-50 mt-2 " src="/images/Seats-left.png" alt="">
                                <div class="mx-2">
                                    <p class="mb-0">23</p>
                                    <p class="mt-0">hhhh</p>
                                </div>
                            </div>
                            <div class=" d-flex justify-content-around">
                                <img class="w-50 h-50 mt-2 " src="/images/mission.png" alt="">
                                <div class="mx-2">
                                    <p class="mb-0">23</p>
                                    <p class="mt-0">hhhh</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <button type="button" class="btn applybutton">
                            Apply
                            <img src="/images/right-arrow.png">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 col-xs-12 mb-3">
            <div class="card">
                <div class="grid-img">
                    <img src="/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold-1.png" class="card-img-top"
                         alt="...">
                    <div class="d-flex justify-content-center">
                        <p class="card-title">Nutrition</p>
                    </div>
                    <div>

                        <div class="location over-buttons px-3 py-1 ">
                            <img src="/images/pin.png" />
                            <span>Toronto</span>
                        </div>
                        <div class="add-favourite over-buttons px-3 py-1">
                            <img src="/images/heart.png" />
                        </div>
                        <div class="add-user over-buttons  px-3 py-1">
                            <img src="/images/user.png" />
                        </div>
                    </div>
                </div>
                <div class="card-body">


                    <div class="m-2">
                        <h4 class="card-text">
                            Some quick example text to build on the card title and make up the
                            bulk of the card's
                            content.
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis corrupti nesciunt
                            mollitia voluptate minus
                            harum, sequi fugiat quis excepturi ipsum animi quod reiciendis voluptatibus aperiam
                            alias unde, esse possimus
                            asperiores?
                        </p>
                        <div class="d-flex justify-content-between">
                            <p class="review-stat">Tree Canada</p>
                            <div class="small-ratings">
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>

                    <div class="border-top border-bottom">
                        <div class="d-flex justify-content-center">

                            <p class="DateTime-title">From date to until date</p>
                        </div>

                        <div class="d-flex flex-wrap justify-content-around">
                            <div class=" d-flex justify-content-around">
                                <img class="w-50 h-50 mt-2 " src="/images/Seats-left.png" alt="">
                                <div class="mx-2">
                                    <p class="mb-0">23</p>
                                    <p class="mt-0">hhhh</p>
                                </div>
                            </div>
                            <div class=" d-flex justify-content-around">
                                <img class="w-50 h-50 mt-2 " src="/images/mission.png" alt="">
                                <div class="mx-2">
                                    <p class="mb-0">23</p>
                                    <p class="mt-0">hhhh</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <button type="button" class="btn applybutton">
                            Apply
                            <img src="/images/right-arrow.png">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 col-xs-12 mb-3">
            <div class="card">
                <div class="grid-img">
                    <img src="/images/Nourish-the-Children-in--African-country-1.png" class="card-img-top" alt="...">
                    <div class="d-flex justify-content-center">
                        <p class="card-title">Nutrition</p>
                    </div>
                    <div>

                        <div class="location over-buttons px-3 py-1 ">
                            <img src="/images/pin.png" />
                            <span>Toronto</span>
                        </div>
                        <div class="add-favourite over-buttons px-3 py-1">
                            <img src="/images/heart.png" />
                        </div>
                        <div class="add-user over-buttons  px-3 py-1">
                            <img src="/images/user.png" />
                        </div>
                    </div>
                </div>
                <div class="card-body">


                    <div class="m-2">
                        <h4 class="card-text">
                            Some quick example text to build on the card title and make up the
                            bulk of the card's
                            content.
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis corrupti nesciunt
                            mollitia voluptate minus
                            harum, sequi fugiat quis excepturi ipsum animi quod reiciendis voluptatibus aperiam
                            alias unde, esse possimus
                            asperiores?
                        </p>
                        <div class="d-flex justify-content-between">
                            <p class="review-stat">Tree Canada</p>
                            <div class="small-ratings">
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>

                    <div class="border-top border-bottom">
                        <div class="d-flex justify-content-center">

                            <p class="DateTime-title">From date to until date</p>
                        </div>

                        <div class="d-flex flex-wrap justify-content-around">
                            <div class=" d-flex justify-content-around">
                                <img class="w-50 h-50 mt-2 " src="/images/Seats-left.png" alt="">
                                <div class="mx-2">
                                    <p class="mb-0">23</p>
                                    <p class="mt-0">hhhh</p>
                                </div>
                            </div>
                            <div class=" d-flex justify-content-around">
                                <img class="w-50 h-50 mt-2 " src="/images/mission.png" alt="">
                                <div class="mx-2">
                                    <p class="mb-0">23</p>
                                    <p class="mt-0">hhhh</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <button type="button" class="btn applybutton">
                            Apply
                            <img src="/images/right-arrow.png">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 col-xs-12 mb-3">
            <div class="card">
                <div class="grid-img">
                    <img src="/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-1.png" class="card-img-top"
                         alt="...">
                    <div class="d-flex justify-content-center">
                        <p class="card-title">Nutrition</p>
                    </div>
                    <div>

                        <div class="location over-buttons px-3 py-1 ">
                            <img src="/images/pin.png" />
                            <span>Toronto</span>
                        </div>
                        <div class="add-favourite over-buttons px-3 py-1">
                            <img src="/images/heart.png" />
                        </div>
                        <div class="add-user over-buttons  px-3 py-1">
                            <img src="/images/user.png" />
                        </div>
                    </div>
                </div>
                <div class="card-body">


                    <div class="m-2">
                        <h4 class="card-text">
                            Some quick example text to build on the card title and make up the
                            bulk of the card's
                            content.
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis corrupti nesciunt
                            mollitia voluptate minus
                            harum, sequi fugiat quis excepturi ipsum animi quod reiciendis voluptatibus aperiam
                            alias unde, esse possimus
                            asperiores?
                        </p>
                        <div class="d-flex justify-content-between">
                            <p class="review-stat">Tree Canada</p>
                            <div class="small-ratings">
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>

                    <div class="border-top border-bottom">
                        <div class="d-flex justify-content-center">

                            <p class="DateTime-title">From date to until date</p>
                        </div>

                        <div class="d-flex flex-wrap justify-content-around">
                            <div class=" d-flex justify-content-around">
                                <img class="w-50 h-50 mt-2 " src="/images/Seats-left.png" alt="">
                                <div class="mx-2">
                                    <p class="mb-0">23</p>
                                    <p class="mt-0">hhhh</p>
                                </div>
                            </div>
                            <div class=" d-flex justify-content-around">
                                <img class="w-50 h-50 mt-2 " src="/images/mission.png" alt="">
                                <div class="mx-2">
                                    <p class="mb-0">23</p>
                                    <p class="mt-0">hhhh</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <button type="button" class="btn applybutton">
                            Apply
                            <img src="/images/right-arrow.png">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 col-xs-12 mb-3">
            <div class="card">
                <div class="grid-img">
                    <img src="/images/Animal-welfare-&-save-birds-campaign-1.png" class="card-img-top" alt="...">
                    <div class="d-flex justify-content-center">
                        <p class="card-title">Nutrition</p>
                    </div>
                    <div>

                        <div class="location over-buttons px-3 py-1 ">
                            <img src="/images/pin.png" />
                            <span>Toronto</span>
                        </div>
                        <div class="add-favourite over-buttons px-3 py-1">
                            <img src="/images/heart.png" />
                        </div>
                        <div class="add-user over-buttons  px-3 py-1">
                            <img src="/images/user.png" />
                        </div>
                    </div>
                </div>
                <div class="card-body">


                    <div class="m-2">
                        <h4 class="card-text">
                            Some quick example text to build on the card title and make up the
                            bulk of the card's
                            content.
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis corrupti nesciunt
                            mollitia voluptate minus
                            harum, sequi fugiat quis excepturi ipsum animi quod reiciendis voluptatibus aperiam
                            alias unde, esse possimus
                            asperiores?
                        </p>
                        <div class="d-flex justify-content-between">
                            <p class="review-stat">Tree Canada</p>
                            <div class="small-ratings">
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>

                    <div class="border-top border-bottom">
                        <div class="d-flex justify-content-center">

                            <p class="DateTime-title">From date to until date</p>
                        </div>

                        <div class="d-flex flex-wrap justify-content-around">
                            <div class=" d-flex justify-content-around">
                                <img class="w-50 h-50 mt-2 " src="/images/Seats-left.png" alt="">
                                <div class="mx-2">
                                    <p class="mb-0">23</p>
                                    <p class="mt-0">hhhh</p>
                                </div>
                            </div>
                            <div class=" d-flex justify-content-around">
                                <img class="w-50 h-50 mt-2 " src="/images/mission.png" alt="">
                                <div class="mx-2">
                                    <p class="mb-0">23</p>
                                    <p class="mt-0">hhhh</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <button type="button" class="btn applybutton">
                            Apply
                            <img src="/images/right-arrow.png">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 col-xs-12 mb-3">
            <div class="card">
                <div class="grid-img">
                    <img src="/images/Plantation-and-Afforestation-programme-1.png" class="card-img-top" alt="...">
                    <div class="d-flex justify-content-center">
                        <p class="card-title">Nutrition</p>
                    </div>
                    <div>

                        <div class="location over-buttons px-3 py-1 ">
                            <img src="/images/pin.png" />
                            <span>Toronto</span>
                        </div>
                        <div class="add-favourite over-buttons px-3 py-1">
                            <img src="/images/heart.png" />
                        </div>
                        <div class="add-user over-buttons  px-3 py-1">
                            <img src="/images/user.png" />
                        </div>
                    </div>
                </div>
                <div class="card-body">


                    <div class="m-2">
                        <h4 class="card-text">
                            Some quick example text to build on the card title and make up the
                            bulk of the card's
                            content.
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis corrupti nesciunt
                            mollitia voluptate minus
                            harum, sequi fugiat quis excepturi ipsum animi quod reiciendis voluptatibus aperiam
                            alias unde, esse possimus
                            asperiores?
                        </p>
                        <div class="d-flex justify-content-between">
                            <p class="review-stat">Tree Canada</p>
                            <div class="small-ratings">
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>

                    <div class="border-top border-bottom">
                        <div class="d-flex justify-content-center">

                            <p class="DateTime-title">From date to until date</p>
                        </div>

                        <div class="d-flex flex-wrap justify-content-around">
                            <div class=" d-flex justify-content-around">
                                <img class="w-50 h-50 mt-2 " src="/images/Seats-left.png" alt="">
                                <div class="mx-2">
                                    <p class="mb-0">23</p>
                                    <p class="mt-0">hhhh</p>
                                </div>
                            </div>
                            <div class=" d-flex justify-content-around">
                                <img class="w-50 h-50 mt-2 " src="/images/mission.png" alt="">
                                <div class="mx-2">
                                    <p class="mb-0">23</p>
                                    <p class="mt-0">hhhh</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <button type="button" class="btn applybutton">
                            Apply
                            <img src="/images/right-arrow.png">
                        </button>
                    </div>
                </div>
            </div>
        </div>
            
    </div>
</div>

<div class="container-fluid mt-4 ps-4 pe-4 listview" id="listview" style="display: none;">
   
    @Html.Partial("Listcard")
    @Html.Partial("Listcard")
    @Html.Partial("Listcard")

</div>



<nav aria-label="Page navigation example " class="justify-content-center d-flex">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>
