

@model CI_plateform.Models.ViewModels.CardViewModel
@*@model IEnumerable<CI_plateform.Models.ViewModels.CityViewModel>*@


@{
    ViewData["Title"] = "Missoin Listing";
}

@Html.Partial("Secondnav")
<div class=" container-fluid justify-content-between d-flex pt-3">
    <div class="">
        <h3>Explore 72 Mission</h3>

    </div>
    <div class="row">
        <div class="dropdown col">
            <button class="btn dropdown-toggle btn-outline-light border-dark" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                Sortby..

                <!-- &nbsp; -->
                <img src="~/images/drop-down.png" class="ic-down ms-5">
            </button>
            <ul class="dropdown-menu dropdown-menu-end sort">
                <li><a class="dropdown-item" asp-controller="Main" asp-action="plateform" asp-route-sortOrder="Newest" >Newest</a></li>
                <li><a class="dropdown-item" asp-controller="Main" asp-action="plateform" asp-route-sortOrder="Oldest">Oldest</a></li>
                <li><a class="dropdown-item" asp-controller="Main" asp-action="plateform" asp-route-sortOrder="Deadline">Deadline</a></li>
            </ul>
        </div>
        <button class="btn btn-outline-light col" onclick="opengrid()">
            <img src="~/images/grid.png">
        </button>
        <button class="btn btn-outline-light col " onclick="openlist()">
            <img src="~/images/list.png">
        </button>

    </div>
</div>


<div class="container-fluid mt-4 gridview" id="gridview">
    <div class="row">
        
        @Html.Partial("Gridcard")
       

       @* @foreach(var item in Model.Missions)
        {
            <div class="col-lg-4 col-sm-12 col-xs-12 mb-3 filtercard" >
            <div class="card xyz" >


                <input type="hidden" value="@item.Country.CountryId" class="Card-CountryId" />              
                <input type="hidden" value="@item.City.CityId" class="Card-CityId" />
                <input type="hidden" value="@item.Theme.MissionThemeId" class="Card-ThemeId" />

                @foreach (var missionskill in item.MissionSkills)
                {
                    <input type="hidden" value="@missionskill.SkillId" class="Card-SkillId" />
                }


                <div class="grid-img">
                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png"
                         class="card-img-top" alt="...">
                    <div class="d-flex justify-content-center">
                        <p class="card-title"> @item.Theme.Title</p>
                       
                    </div>
                    <div>

                        <div class="location over-buttons px-3 py-1 ">
                            <img src="/images/pin.png" />
                            <span >@item.City.Name</span>
                        </div>
                        <div class="add-favourite over-buttons px-3 py-1">
                            <img src="/images/heart.png" />
                        </div>
                        <div class="add-user over-buttons  px-3 py-1">
                            <img src="/images/user.png" />
                        </div>

                    </div>
                </div>
                <div class="card-body">


                    <div class="m-2">
                        <h4 class="card-text cardHeading">
                            @item.Title
                        </h4>
                        <p>
                           @item.ShortDescription
                        </p>
                        <div class="d-flex justify-content-between">
                            <p class="review-stat">Tree Canada</p>
                            <div class="small-ratings">
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>

                    <div class="border-top border-bottom">
                        <div class="d-flex justify-content-center">

                            <p class="DateTime-title">@Convert.ToDateTime(item.StartDate).ToString("dd-MM-yyyy") to @Convert.ToDateTime(item.EndDate).ToString("dd-MM-yyyy")</p>
                        </div>

                        <div class="d-flex flex-wrap justify-content-around">
                            <div class=" d-flex justify-content-around">
                                <img class="w-50 h-50 mt-2 " src="/images/Seats-left.png" alt="">
                                <div class="mx-2">
                                    <p class="mb-0">23</p>
                                    <p class="mt-0">hhhh</p>
                                </div>
                            </div>
                            <div class=" d-flex justify-content-around">
                                <img class="w-50 h-50 mt-2 " src="/images/mission.png" alt="">
                                <div class="mx-2">
                                    <p class="mb-0">23</p>
                                    <p class="mt-0">hhhh</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <button type="button" class="btn applybutton">
                            Apply
                            <img src="/images/right-arrow.png">
                        </button>
                    </div>
                </div>
            </div>
        </div>   
        }*@
        
       @* <div class="col-lg-4 col-sm-12 col-xs-12 mb-3">
            <div class="card">
                <div class="grid-img">
                    <img src="/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold-1.png" class="card-img-top"
                         alt="...">
                    <div class="d-flex justify-content-center">
                        <p class="card-title">Nutrition</p>
                    </div>
                    <div>

                        <div class="location over-buttons px-3 py-1 ">
                            <img src="/images/pin.png" />
                            <span>Toronto</span>
                        </div>
                        <div class="add-favourite over-buttons px-3 py-1">
                            <img src="/images/heart.png" />
                        </div>
                        <div class="add-user over-buttons  px-3 py-1">
                            <img src="/images/user.png" />
                        </div>
                    </div>
                </div>
                <div class="card-body">


                    <div class="m-2">
                        <h4 class="card-text">
                            Some quick example text to build on the card title and make up the
                            bulk of the card's
                            content.
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis corrupti nesciunt
                            mollitia voluptate minus
                            harum, sequi fugiat quis excepturi ipsum animi quod reiciendis voluptatibus aperiam
                            alias unde, esse possimus
                            asperiores?
                        </p>
                        <div class="d-flex justify-content-between">
                            <p class="review-stat">Tree Canada</p>
                            <div class="small-ratings">
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>

                    <div class="border-top border-bottom">
                        <div class="d-flex justify-content-center">

                            <p class="DateTime-title">From date to until date</p>
                        </div>

                        <div class="d-flex flex-wrap justify-content-around">
                            <div class=" d-flex justify-content-around">
                                <img class="w-50 h-50 mt-2 " src="/images/Seats-left.png" alt="">
                                <div class="mx-2">
                                    <p class="mb-0">23</p>
                                    <p class="mt-0">hhhh</p>
                                </div>
                            </div>
                            <div class=" d-flex justify-content-around">
                                <img class="w-50 h-50 mt-2 " src="/images/mission.png" alt="">
                                <div class="mx-2">
                                    <p class="mb-0">23</p>
                                    <p class="mt-0">hhhh</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <button type="button" class="btn applybutton">
                            Apply
                            <img src="/images/right-arrow.png">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 col-xs-12 mb-3">
            <div class="card">
                <div class="grid-img">
                    <img src="/images/Nourish-the-Children-in--African-country-1.png" class="card-img-top" alt="...">
                    <div class="d-flex justify-content-center">
                        <p class="card-title">Nutrition</p>
                    </div>
                    <div>

                        <div class="location over-buttons px-3 py-1 ">
                            <img src="/images/pin.png" />
                            <span>Toronto</span>
                        </div>
                        <div class="add-favourite over-buttons px-3 py-1">
                            <img src="/images/heart.png" />
                        </div>
                        <div class="add-user over-buttons  px-3 py-1">
                            <img src="/images/user.png" />
                        </div>
                    </div>
                </div>
                <div class="card-body">


                    <div class="m-2">
                        <h4 class="card-text">
                            Some quick example text to build on the card title and make up the
                            bulk of the card's
                            content.
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis corrupti nesciunt
                            mollitia voluptate minus
                            harum, sequi fugiat quis excepturi ipsum animi quod reiciendis voluptatibus aperiam
                            alias unde, esse possimus
                            asperiores?
                        </p>
                        <div class="d-flex justify-content-between">
                            <p class="review-stat">Tree Canada</p>
                            <div class="small-ratings">
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>

                    <div class="border-top border-bottom">
                        <div class="d-flex justify-content-center">

                            <p class="DateTime-title">From date to until date</p>
                        </div>

                        <div class="d-flex flex-wrap justify-content-around">
                            <div class=" d-flex justify-content-around">
                                <img class="w-50 h-50 mt-2 " src="/images/Seats-left.png" alt="">
                                <div class="mx-2">
                                    <p class="mb-0">23</p>
                                    <p class="mt-0">hhhh</p>
                                </div>
                            </div>
                            <div class=" d-flex justify-content-around">
                                <img class="w-50 h-50 mt-2 " src="/images/mission.png" alt="">
                                <div class="mx-2">
                                    <p class="mb-0">23</p>
                                    <p class="mt-0">hhhh</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <button type="button" class="btn applybutton">
                            Apply
                            <img src="/images/right-arrow.png">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 col-xs-12 mb-3">
            <div class="card">
                <div class="grid-img">
                    <img src="/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-1.png" class="card-img-top"
                         alt="...">
                    <div class="d-flex justify-content-center">
                        <p class="card-title">Nutrition</p>
                    </div>
                    <div>

                        <div class="location over-buttons px-3 py-1 ">
                            <img src="/images/pin.png" />
                            <span>Toronto</span>
                        </div>
                        <div class="add-favourite over-buttons px-3 py-1">
                            <img src="/images/heart.png" />
                        </div>
                        <div class="add-user over-buttons  px-3 py-1">
                            <img src="/images/user.png" />
                        </div>
                    </div>
                </div>
                <div class="card-body">


                    <div class="m-2">
                        <h4 class="card-text">
                            Some quick example text to build on the card title and make up the
                            bulk of the card's
                            content.
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis corrupti nesciunt
                            mollitia voluptate minus
                            harum, sequi fugiat quis excepturi ipsum animi quod reiciendis voluptatibus aperiam
                            alias unde, esse possimus
                            asperiores?
                        </p>
                        <div class="d-flex justify-content-between">
                            <p class="review-stat">Tree Canada</p>
                            <div class="small-ratings">
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>

                    <div class="border-top border-bottom">
                        <div class="d-flex justify-content-center">

                            <p class="DateTime-title">From date to until date</p>
                        </div>

                        <div class="d-flex flex-wrap justify-content-around">
                            <div class=" d-flex justify-content-around">
                                <img class="w-50 h-50 mt-2 " src="/images/Seats-left.png" alt="">
                                <div class="mx-2">
                                    <p class="mb-0">23</p>
                                    <p class="mt-0">hhhh</p>
                                </div>
                            </div>
                            <div class=" d-flex justify-content-around">
                                <img class="w-50 h-50 mt-2 " src="/images/mission.png" alt="">
                                <div class="mx-2">
                                    <p class="mb-0">23</p>
                                    <p class="mt-0">hhhh</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <button type="button" class="btn applybutton">
                            Apply
                            <img src="/images/right-arrow.png">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 col-xs-12 mb-3">
            <div class="card">
                <div class="grid-img">
                    <img src="/images/Animal-welfare-&-save-birds-campaign-1.png" class="card-img-top" alt="...">
                    <div class="d-flex justify-content-center">
                        <p class="card-title">Nutrition</p>
                    </div>
                    <div>

                        <div class="location over-buttons px-3 py-1 ">
                            <img src="/images/pin.png" />
                            <span>Toronto</span>
                        </div>
                        <div class="add-favourite over-buttons px-3 py-1">
                            <img src="/images/heart.png" />
                        </div>
                        <div class="add-user over-buttons  px-3 py-1">
                            <img src="/images/user.png" />
                        </div>
                    </div>
                </div>
                <div class="card-body">


                    <div class="m-2">
                        <h4 class="card-text">
                            Some quick example text to build on the card title and make up the
                            bulk of the card's
                            content.
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis corrupti nesciunt
                            mollitia voluptate minus
                            harum, sequi fugiat quis excepturi ipsum animi quod reiciendis voluptatibus aperiam
                            alias unde, esse possimus
                            asperiores?
                        </p>
                        <div class="d-flex justify-content-between">
                            <p class="review-stat">Tree Canada</p>
                            <div class="small-ratings">
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>

                    <div class="border-top border-bottom">
                        <div class="d-flex justify-content-center">

                            <p class="DateTime-title">From date to until date</p>
                        </div>

                        <div class="d-flex flex-wrap justify-content-around">
                            <div class=" d-flex justify-content-around">
                                <img class="w-50 h-50 mt-2 " src="/images/Seats-left.png" alt="">
                                <div class="mx-2">
                                    <p class="mb-0">23</p>
                                    <p class="mt-0">hhhh</p>
                                </div>
                            </div>
                            <div class=" d-flex justify-content-around">
                                <img class="w-50 h-50 mt-2 " src="/images/mission.png" alt="">
                                <div class="mx-2">
                                    <p class="mb-0">23</p>
                                    <p class="mt-0">hhhh</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <button type="button" class="btn applybutton">
                            Apply
                            <img src="/images/right-arrow.png">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 col-xs-12 mb-3">
            <div class="card">
                <div class="grid-img">
                    <img src="/images/Plantation-and-Afforestation-programme-1.png" class="card-img-top" alt="...">
                    <div class="d-flex justify-content-center">
                        <p class="card-title">Nutrition</p>
                    </div>
                    <div>

                        <div class="location over-buttons px-3 py-1 ">
                            <img src="/images/pin.png" />
                            <span>Toronto</span>
                        </div>
                        <div class="add-favourite over-buttons px-3 py-1">
                            <img src="/images/heart.png" />
                        </div>
                        <div class="add-user over-buttons  px-3 py-1">
                            <img src="/images/user.png" />
                        </div>
                    </div>
                </div>
                <div class="card-body">


                    <div class="m-2">
                        <h4 class="card-text">
                            Some quick example text to build on the card title and make up the
                            bulk of the card's
                            content.
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis corrupti nesciunt
                            mollitia voluptate minus
                            harum, sequi fugiat quis excepturi ipsum animi quod reiciendis voluptatibus aperiam
                            alias unde, esse possimus
                            asperiores?
                        </p>
                        <div class="d-flex justify-content-between">
                            <p class="review-stat">Tree Canada</p>
                            <div class="small-ratings">
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>

                    <div class="border-top border-bottom">
                        <div class="d-flex justify-content-center">

                            <p class="DateTime-title">From date to until date</p>
                        </div>

                        <div class="d-flex flex-wrap justify-content-around">
                            <div class=" d-flex justify-content-around">
                                <img class="w-50 h-50 mt-2 " src="/images/Seats-left.png" alt="">
                                <div class="mx-2">
                                    <p class="mb-0">23</p>
                                    <p class="mt-0">hhhh</p>
                                </div>
                            </div>
                            <div class=" d-flex justify-content-around">
                                <img class="w-50 h-50 mt-2 " src="/images/mission.png" alt="">
                                <div class="mx-2">
                                    <p class="mb-0">23</p>
                                    <p class="mt-0">hhhh</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <button type="button" class="btn applybutton">
                            Apply
                            <img src="/images/right-arrow.png">
                        </button>
                    </div>
                </div>
            </div>
        </div>*@
            
    </div>
</div>

<div class="container-fluid mt-4 ps-4 pe-4 listview" id="listview" style="display: none;">
   
    @Html.Partial("Listcard")
    @Html.Partial("Listcard")
    @Html.Partial("Listcard")

</div>



<nav aria-label="Page navigation example " class="justify-content-center d-flex">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>


@*
<script>
    $(document).ready(function () {

         $('.sort li a').click(function (e){
            var  sortOrder= $(this).text();

            //console.log(sortOrder);

          // if(e.currentTarget.checked){

                $.ajax({
                    url: '/Main/plateform',
                    type: 'POST',
                    data: {  "sortOrder":sortOrder },
                    //dataType: 'json',
                    success: function (data) {
                        
                       
                    }
                });

                 
        
        });

     });
</script>*@
@*<script>

    function SearchMission()
    {
        var search = $('#Searchtxt input[type=search]').val();
        var countries = [];
        var cities = [];
        var themes = [];
        var skills = [];
        
        $('.fcountry input[type="checkbox"]:checked').each(function() {
                     countries.push($(this).val();
                });
        $('.fcity input[type="checkbox"]:checked').each(function() {
                     countries.push($(this).val();
                });
        $('.ftheme input[type="checkbox"]:checked').each(function() {
                     countries.push($(this).val();
                });
        $('.fskill input[type="checkbox"]:checked').each(function() {
                     countries.push($(this).val();
                });
        $('.sort li a').click(function (e){
            var  sortOrder= $(this).text();
             });

         $.ajax({
                    url: '/Main/FilterData',
                    type: 'POST',
                    data: {  "sortOrder":sortOrder
                             "countries":countries
                             "cities":cities
                             "themes":themes
                             "skills":skills
                             "search":search
                    },
                    //dataType: 'json',
                    success: function (data) {
                        
                       
                    }
                });

    }
    $(document).ready(function () {

         $('.sort li a').click(function (e){
            var  sortOrder= $(this).text();

            //console.log(sortOrder);

          // if(e.currentTarget.checked){

               

                 
        
        });

     });
</script>*@
