@model CI_plateform.Models.ViewModels.CardViewModel


@foreach(var item in Model.Missions)
{
<div class="row d-flex  mb-4">
    <!-- <div class="card d-flax mb-3"> -->


                <input type="hidden" value="@item.Country.CountryId" class="Card-CountryId" />              
                <input type="hidden" value="@item.City.CityId" class="Card-CityId" />
                <input type="hidden" value="@item.Theme.MissionThemeId" class="Card-ThemeId" />

                @foreach (var missionskill in item.MissionSkills)
                {
                    <input type="hidden" value="@missionskill.SkillId" class="Card-SkillId" />
                }


    <div class="col-lg-3 col-md-4  col-sm-5 col-xs-12 d-block  ps-0 pe-0 position-relative">
           <img src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-1.png" class="card-img-top h-100"
                    alt="...">
           <div class="d-flex justify-content-center">
                    <p class="card-title">@item.Theme.Title</p>
           </div>
            <div class="location over-buttons px-3 py-1 ">
                <img src="/images/pin.png" />
                <span >@item.City.Name</span>
           </div>
           <div class="add-favourite over-buttons px-3 py-1">
                 <img src="/images/heart.png" />
            </div>
            <div class="add-user over-buttons  px-3 py-1">
                <img src="/images/user.png" />
            </div>
    </div>
    
    <div class="card-body col-lg-9 col-md-8 col-sm-7 ">
        <div class="">
            <h5 class="card-text cardHeading">
                 @item.Title
            </h5>
            <p class="font-size">
                 @item.ShortDescription
            </p>
        </div>

        <div class="d-flex justify-content-between">
            <div class="">
                <div class="d-flex">
                    <p class="review-stat me-4">Tree Canada</p>
                    <div class="small-ratings">
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
                <div class="m-1">
                    <button type="button" class="btn applybutton">
                        Apply
                        <img src="~/images/right-arrow.png">
                    </button>
                </div>
            </div>
            <div class=" pe-4 ps-4 border-top mt-3">
                <p class="DateTime-title">@Convert.ToDateTime(item.StartDate).ToString("dd-MM-yyyy") to @Convert.ToDateTime(item.EndDate).ToString("dd-MM-yyyy")</p>

                <div class="d-flex justify-content-around mt-4">
                    <div class=" d-flex justify-content-around">
                        <img class="w-50 h-50 mt-2 " src="~/images/Seats-left.png" alt="">
                        <div class="mx-2">
                            <p class="mb-0">23</p>
                            <p class="mt-0">hhhh</p>
                        </div>
                    </div>
                    <div class=" d-flex justify-content-around">
                        <img class="w-50 h-50 mt-2 " src="~/images/mission.png" alt="">
                        <div class="mx-2">
                            <p class="mb-0">23</p>
                            <p class="mt-0">hhhh</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
